@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Noto Sans SC", sans-serif;
  --third-family: "Noto Sans", sans-serif;
  --font3: "JetBrains Mono", sans-serif;
  --font4: "Font Awesome 5 Brands", sans-serif;
  --font5: "Nunito Sans", sans-serif;
  --font6: "Font Awesome 5 Free", sans-serif;
  --black: #000;
  --yellow: #ffec00;
  --white: #fff;
  --grey: #121212;
  --grey: #777;
  --grey-2: #1c1c1c;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.mobile {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--black);
  position: fixed;
  z-index: 99;
  width: 100%;
}

.header__nav nav ul {
  display: flex;
  justify-content: space-between;
}

.header__nav nav ul li.active a {
  color: var(--yellow);
}

.header__nav nav ul li a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--white);
  transition: all 0.3s ease;
}

.header__nav nav ul li a:hover {
  color: var(--yellow);
}

.header--paddings {
  padding: 28px 0;
}

.header--white {
  background-color: #fff;
}

.header__contacts ul {
  display: flex;
  gap: 24px;
}

.header__contacts ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__contacts ul li a {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--black);
}

.header__lang-switcher ul {
  display: flex;
}

.header__lang-switcher ul li {
  border: none !important;
  padding: 15px 16px !important;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: var(--black);
}

.header__lang-switcher ul li.active {
  background: var(--yellow);
}

.header__lang-switcher ul li a {
  color: var(--black);
}

.header__logo {
  display: flex;
  align-items: center;
  max-width: 150px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__burger {
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 42px;
  transition: all 0.3s ease;
}

.header__burger:before,
.header__burger:after,
.header__burger span {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotate(0);
  transition: all 0.3s ease;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger span {
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.header__burger.active {
  transform: rotate(180deg);
}

.header__burger.active span {
  visibility: 0;
  opacity: 0;
}

.header__burger.active:before {
  top: 13px;
  transform: rotate(-45deg);
}

.header__burger.active:after {
  bottom: 13px;
  transform: rotate(45deg);
}

.header__menu {
  position: fixed;
  top: 113px;
  left: 0;
  overflow-y: auto;
  width: 100%;
  height: 0%;
  background-color: var(--black);
  padding: 0;
  transition: all 0.3s ease;
}

.header__menu.active {
  height: 100%;
}

.header__menu nav > ul li {
  padding-bottom: 2px;
  border-bottom: 1px solid var(--white);
}

.header__menu nav > ul li:last-child {
  border: none;
}

.header__menu ul {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__menu ul li a {
  text-align: start;
  display: inline-block;
  position: relative;
  font-family: var(--second-family);
  font-weight: 350;
  font-size: 24px;
  line-height: 1.38286;
  text-transform: uppercase;
  color: #fff;
}

.header__menu ul li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.arrow-btn {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 295px;
  transition: all 0.3s ease;
}

.arrow-btn:hover {
  transform: scale(1.05);
}

.arrow-btn a {
  width: 100%;
  position: relative;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  background: #ffec00;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 22px 0;
  transition: all 0.3s ease;
}

.arrow-btn--black a {
  background-color: #000;
  color: #fff;
}

.hero {
  position: relative;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__background video {
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__background img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero .container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.hero__title h1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
  color: var(--white);
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  text-transform: uppercase;
}

.hero__title h1:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: var(--yellow);
}

.hero__desc {
  margin-top: 12px;
}

.hero__desc p {
  max-width: 715px;
  width: 100%;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.33333;
  color: var(--white);
}

.hero__btn {
  margin-top: 64px;
}

.about {
  padding: 80px 0;
  background-color: #ffec00;
  position: relative;
}

.about__title h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #000;
}

.about__desc {
  margin-top: 25px;
}

.about__desc p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.45455;
  text-align: center;
  color: var(--black);
}

.about__desc p:nth-child(n+2) {
  margin-top: 24px;
}

.about .about__btn {
  margin-top: 40px;
}

.about__image {
  width: 100%;
}

.about__image img {
  max-height: 600px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.counters {
  background: var(--black);
  padding: 64px 0;
}

.counters .title h2 {
  color: #fff;
}

.counters__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}

.counters__metrics {
  display: flex;
  justify-content: flex-end;
}

.counters__metrics ul {
  display: flex;
  gap: 80px;
}

.counters__metrics ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  width: 100%;
}

.counters__metrics ul li h3 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
  color: var(--white);
  position: relative;
}

.counters__metrics ul li h3 div {
  display: inline-block;
}

.counters__metrics ul li h3 span {
  position: absolute;
  top: -25px;
  right: -30px;
}

.counters__metrics ul li p {
  margin-top: 4px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}

.services {
  padding: 80px 0;
}

.services__wrapper {
  gap: 20px 0px;
}

.services__item {
  position: relative;
  min-height: 295px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 16px 12px;
}

.services .row:nth-child(2) {
  gap: 20px 0;
}

.services__content {
  position: relative;
  z-index: 3;
}

.services__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.services__image:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #00000035;
}

.services__image img {
  max-height: 320px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__title h3 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--white);
  text-transform: uppercase;
}

.services__desc {
  margin-top: 16px;
  display: flex;
  align-items: flex-end;
}

.services__desc p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--white);
  margin-right: 10px;
}

.services__more {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  display: flex;
  align-items: center;
  background: #ffec00;
  padding: 13px;
  border: 1px solid #ffec00;
  transition: all 0.3s ease;
}

.services__more svg path {
  transition: all 0.3s ease;
}

.services__more:hover {
  background-color: #121212;
}

.services__more:hover svg path {
  stroke: #ffec00;
}

.title {
  position: relative;
  text-align: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  margin: 0 auto;
}

.title h2,
.title h1 {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 31px;
  line-height: 1.42222;
  text-transform: uppercase;
  text-align: center;
  color: #030000;
}

.title h2 span,
.title h2 strong,
.title h2 bold,
.title h1 span,
.title h1 strong,
.title h1 bold {
  font-weight: 700;
}

.description {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 16px;
}

.description p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.45455;
  text-align: center;
  color: var(--black);
}

.partners {
  padding: 80px 0;
  background: #030000;
}

.partners .title h2 {
  font-weight: 700;
  color: #fff;
}

.partners .title:before {
  display: none;
}

.partners .row:nth-child(2) {
  gap: 40px 0;
}

.partners a {
  transition: all 0.3s ease;
}

.partners a img {
  max-width: 250px;
  width: 100%;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.partners a:hover {
  transform: scale(1.05);
}

.partners__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.questions {
  padding: 80px 0;
  background: #fefefe;
}

.questions .title:before {
  display: none;
}

.questions__wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px 0;
}

.questions__image img {
  max-height: 600px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.questions__item {
  width: 100%;
}

.questions__item.active .questions__icon {
  transform: rotate(180deg);
  right: 14px;
}

.questions__item.active .questions__head {
  border: 2px solid var(--yellow);
}

.questions__item.active .questions__head svg path {
  stroke: var(--yellow);
}

.questions__item.active .questions__body {
  padding: 10px;
}

.questions__head {
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.questions__head h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.45455;
  color: var(--black);
  width: 80%;
}

.questions__icon {
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questions__icon span {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.85714;
  color: #000;
}

.questions__body {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 0px 10px;
}

.questions__body p {
  font-family: var(--font5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.41667;
  color: #777;
  padding: 0 15px;
}

.questions .arrow-btn {
  margin-top: 30px;
}

.form-group {
  position: relative;
}

.form-group .word-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.6);
}

.form-group .word-counter.error {
  color: red;
}

.form-control {
  border-radius: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--black);
  border: 2px solid var(--grey-2);
  transition: all 0.3s ease;
  padding: 12px 24px;
  background-color: transparent;
  resize: none;
}

.form-control:focus {
  border: 2px solid var(--black);
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

textarea.form-control {
  height: 150px;
}

.footer {
  padding: 80px 0;
  padding-bottom: 40px;
  background-color: #000;
}

.footer__cpry {
  margin-top: 64px;
}

.footer__cpry p {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.76;
  color: #fff;
}

.footer__cpry p span {
  color: #ffec00;
}

.footer__logo {
  max-width: 224px;
  width: 100%;
}

.footer__logo img {
  width: 100%;
}

.footer__desc {
  margin-top: 32px;
}

.footer__desc p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--white);
}

.footer__socials h4 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--white);
}

.footer__socials ul {
  margin-top: 24px;
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer__nav ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__nav ul li a {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--white);
}

.mobile {
  display: none !important;
}

.contact-represented__item h5 svg {
  display: none;
}

.services {
  position: relative;
}

.services__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services__background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-page {
  margin-top: 84px;
}

.services-page .container {
  position: relative;
  z-index: 2;
}

.services-specials {
  padding: 80px 0;
}

.services-about {
  padding: 80px 0;
  background: var(--yellow);
}

.services-about__wrapper {
  margin-top: 64px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.services-about__item {
  max-width: 242px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.services-about .arrow-btn {
  margin-top: 64px;
}

.services-about__number {
  padding: 2px 11px;
  background: var(--black);
}

.services-about__number h5 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--white);
}

.services-about__desc {
  margin-top: 16px;
}

.services-about__desc p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  text-align: center;
  color: var(--black);
}

.services-hero__title h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.33333;
  color: var(--white);
}

.services-hero__desc {
  max-width: 715px;
  width: 100%;
  margin-top: 12px;
}

.services-hero__desc p {
  font-family: var(--second-family);
  font-weight: 350;
  font-size: 32px;
  line-height: 1.25;
  color: var(--white);
}

.services-detail {
  padding: 100px 0;
  position: relative;
}

.services-detail .container {
  position: relative;
  z-index: 2;
}

.services-detail .title {
  margin-bottom: 32px;
}

.services-detail__content {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.services-detail__content img {
  max-height: 444px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-detail__content p {
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.45455;
  text-align: center;
  color: var(--black);
}

.services-detail__contact p {
  position: relative;
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
  color: var(--black);
}

.services-detail__contact p strong {
  font-weight: 700;
}

.services-detail__contact p:before {
  content: "";
  width: 50%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--black);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.contact {
  margin-top: 32px;
  padding-bottom: 52px;
  background-color: var(--black);
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact__item h4 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--yellow);
}

.contact__item ul {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact__item ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact__item ul svg {
  width: 24px;
  height: 24px;
}

.contact__item ul span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--white);
}

.contact__form {
  background-color: var(--yellow);
  padding: 40px 64px;
}

.contact__form-content h2,
.contact__form-content p {
  text-align: start;
}

.contact__form-content .description p {
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.45455;
  color: var(--black);
}

.contact form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact form button {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.contact form button:hover {
  color: var(--black);
  background-color: transparent;
}

.contact-represented {
  background-color: var(--black);
  padding: 80px 0;
}

.contact-represented .title h2 {
  font-family: var(--second-family);
  font-weight: 350;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
  color: var(--white);
}

.contact-represented .title.description p {
  margin-top: 16px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 22px;
  line-height: 1.45455;
  text-align: center;
  color: var(--white);
}

.contact-represented__wrapper {
  margin-top: 64px;
  gap: 64px 0;
}

.contact-represented__item {
  overflow: hidden;
  transition: all 0.3s ease;
}

.contact-represented__item h5 {
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--yellow);
}

.contact-represented__item ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: all 0.3s ease;
}

.contact-represented__item ul li {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.contact-represented__item ul li span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--white);
}

.news .title {
  text-align: left;
  margin: 0;
  margin-top: 80px;
}

.news .title h1 {
  text-align: left;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  color: var(--black);
}

.news__wrapper {
  margin-top: 64px;
  gap: 20px 0;
  justify-content: center;
}

.news__item {
  border: 1px solid var(--grey);
  padding: 16px 12px;
  background: var(--white);
  position: relative;
  transition: all 0.3s ease;
}

.news__item:hover {
  border: 1px solid var(--black);
}

.news__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.news__content {
  margin-top: 4px;
  width: 80%;
}

.news__content p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--black);
}

.news__arrow {
  position: absolute;
  bottom: 16px;
  right: 12px;
}

.news__date {
  display: block;
  margin-top: 12px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--grey);
}

.news-detail {
  margin-top: 40px;
  padding-bottom: 40px;
}

.news-detail-others {
  margin-top: 80px;
  margin-bottom: 80px;
}

.news-detail-others .arrow-btn {
  margin-top: 40px;
}

.news-detail__banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 350px;
}

.news-detail__date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--grey);
}

.news-detail__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 404px;
}

.news-detail__wrapper {
  gap: 20px 0;
}

.news-detail__content {
  margin: 64px 0;
}

.news-detail__content h1,
.news-detail__content h2 {
  margin-top: 8px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  color: var(--black);
}

.news-detail__content p {
  margin-top: 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.45455;
  color: var(--black);
}

.pagination {
  margin-top: 64px;
  padding: 12px 0;
  margin-bottom: 80px;
}

.pagination__arrow a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--black);
  display: flex;
  gap: 8px;
  align-items: center;
}

.pagination__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__pages ul {
  display: flex;
  gap: 2px;
}

.pagination__pages ul li.active span {
  background-color: var(--black);
  color: var(--white);
}

.pagination__pages ul li span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: var(--black);
  padding: 11px 16px;
  display: block;
  transition: all 0.3s ease;
}

.pagination__pages ul li span:hover {
  background-color: var(--grey);
  color: var(--white);
}

.about-us .container {
  display: flex;
  align-items: flex-end;
  height: 60dvh !important;
}

.about-us__title {
  margin-bottom: 10%;
}

.about-us__title h1 {
  position: relative;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--white);
}

.about-us__title h1:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: var(--yellow);
}

.about-us__desc p {
  margin-top: 12px;
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 32px;
  line-height: 1.25;
  color: var(--white);
}

.about-us-history__content {
  padding: 80px 0;
}

.about-us-history__content h2 {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 32px;
  line-height: 1.25;
  color: var(--black);
}

.about-us-history__content h2 strong {
  font-weight: 700;
}

.about-us-history__content p {
  margin-top: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.45455;
  text-align: center;
  color: var(--black);
}

.about-us-skills {
  background-color: #f0ebeb;
  padding: 100px 0;
}

.about-us-skills__metrics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 64px 0;
  gap: 40px;
}

.about-us-skills__text {
  margin-top: 24px;
}

.about-us-skills__text p {
  max-width: 96px;
  width: 100%;
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}

.about-us-skills .circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-skills .circle__inside {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
  color: var(--black);
  background-color: var(--white);
  height: 170px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 3;
}

.about-us-skills .circle__filled {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--grey);
  z-index: 1;
}

.about-us-skills .circle__to-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.about-us-skills .circle__to-fill .round {
  transform: rotate(-90deg);
  transition: all 1s ease-in-out;
  /* SVG */
  fill: none;
  stroke: var(--yellow);
  stroke-width: 5;
  stroke-linecap: round;
  stroke-dasharray: 0 999;
}

.about-us-skills .circle__to-fill svg {
  width: 100%;
  height: 100%;
}

.about-us-skills .arrow-btn {
  margin-top: 64px;
}

.about-us-values {
  background-color: var(--black);
  padding: 80px 0;
}

.about-us-values .title h2 {
  color: #fff;
}

.about-us-values__wrapper {
  margin-top: 40px;
  gap: 40px;
}

.about-us-values__item {
  text-align: center;
}

.about-us-values__item h4 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: var(--yellow);
}

.about-us-values__item p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.55556;
  text-align: center;
  color: var(--white);
  margin-top: 12px;
}

.about-us-propose__content {
  padding: 100px 0;
}

.about-us-propose__content h2,
.about-us-propose__content h3,
.about-us-propose__content h4,
.about-us-propose__content h5 {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 32px;
  line-height: 1.25;
  color: var(--black);
  text-transform: uppercase;
}

.about-us-propose__content h2 strong,
.about-us-propose__content h2 bold,
.about-us-propose__content h3 strong,
.about-us-propose__content h3 bold,
.about-us-propose__content h4 strong,
.about-us-propose__content h4 bold,
.about-us-propose__content h5 strong,
.about-us-propose__content h5 bold {
  font-weight: 700;
}

.about-us-propose__content h2:nth-child(n+2),
.about-us-propose__content h3:nth-child(n+2),
.about-us-propose__content h4:nth-child(n+2),
.about-us-propose__content h5:nth-child(n+2) {
  margin-top: 64px;
}

.about-us-propose__content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.45455;
  color: var(--black);
  margin-top: 24px;
}

.about-us-propose__content p:first-child {
  margin-top: 32px;
}

.about-us-propose__content ul {
  padding-top: 24px;
  padding-bottom: 40px;
  gap: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-us-propose__content ul li {
  max-width: 45%;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--black);
}

.about-us-propose__content ul li svg {
  min-width: 32px;
  min-height: 32px;
}

@media screen and (max-width: 992px) {
  .mobile {
    display: flex !important;
  }

  .about-us-skills__metrics {
    justify-content: center;
  }

  .about-us-skills .arrow-btn {
    margin-top: 32px;
  }

  .desktop {
    display: none !important;
  }

  .about__image {
    margin-top: 20px;
  }

  .questions__image {
    margin-top: 20px;
  }

  .header--white {
    padding: 10px 0;
  }

  .header__contacts ul {
    flex-wrap: wrap;
    gap: 10px 24px;
  }

  .header--paddings {
    padding: 20px 0;
  }

  .header__contacts ul li svg {
    width: 14px;
    height: 14px;
  }

  .header__contacts ul li a,
  .header__contacts ul li span {
    font-size: 12px;
    gap: 4px;
  }

  .counters__metrics {
    margin-top: 20px;
  }

  .footer__socials {
    margin-top: 20px;
  }

  .footer__cpry {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .about__title h2 {
    font-size: 20px;
  }

  .pagination__arrow span {
    display: none;
  }

  .contact__form {
    margin-top: 20px;
  }

  .description {
    margin-top: 10px;
  }

  .services-specials {
    padding-top: 40px;
  }

  .description p {
    font-size: 16px;
  }

  .header__burger {
    height: 24px;
    width: 35px;
  }

  .arrow-btn a {
    padding: 15px 20px;
    font-size: 12px;
  }

  .arrow-btn a svg {
    width: 20px;
    height: 20px;
  }

  .counters__metrics {
    margin-top: 40px;
    justify-content: center;
  }

  .counters__metrics ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .header__burger:before,
  .header__burger:after,
  .header__burger span {
    height: 3px;
  }

  .header__burger.active:after {
    bottom: 9px;
  }

  .footer .row {
    gap: 20px;
  }

  .header--paddings {
    padding: 15px 0;
  }

  .title h2,
  .title h1 {
    font-size: 22px;
  }

  .services__desc p {
    font-size: 13px;
  }

  .services__title h3 {
    font-size: 19px;
  }

  .services__more {
    font-size: 16px;
  }

  .about__desc {
    margin-top: 16px;
  }

  .about__desc p {
    font-size: 16px;
  }

  .about__sub-desc {
    margin-top: 15px;
  }

  .about__sub-desc p {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .hero__title h1 {
    font-size: 36px;
  }

  .services-hero__title h1 {
    font-size: 38px;
  }

  .services-hero__desc p {
    font-size: 28px;
  }

  .questions__head h3 {
    font-size: 18px;
  }

  .about-us-history__content h2,
  .about-us__title h1 {
    font-size: 28px;
  }

  .about-us__desc p {
    font-size: 18px;
  }

  .about-us-skills__text p {
    font-size: 14px;
  }

  .about-us-skills__text {
    margin-top: 12px;
  }

  .about-us-skills .circle {
    width: 150px;
    height: 150px;
  }

  .about-us-skills .circle__inside {
    height: 140px;
    width: 140px;
  }

  .about-us-skills,
  .about-us-propose__content {
    padding: 50px 0;
  }

  .about-us-values {
    padding: 40px 0;
  }

  .about-us-values__item h4 {
    font-size: 18px;
  }

  .about-us-values__item p {
    font-size: 16px;
    margin-top: 6px;
  }

  .about-us-skills__metrics {
    margin: 32px 0;
  }

  .about-us-propose__content ul li {
    font-size: 16px;
  }

  .about-us-propose__content p {
    margin-top: 12px;
  }

  .about-us-propose__content p {
    font-size: 18px;
  }

  .about-us-propose__content h2,
  .about-us-propose__content h3,
  .about-us-propose__content h4,
  .about-us-propose__content h5 {
    font-size: 28px;
  }

  .about-us-history__content p {
    font-size: 18px;
  }

  .about-us-history__content {
    padding: 40px 0;
  }

  .news-detail__content {
    margin: 32px 0;
  }

  .news-detail__content p {
    margin: 16px 0;
    font-size: 18px;
  }

  .news-detail__content h1,
  .news-detail__content h2 {
    font-size: 28px;
  }

  .news-detail {
    margin-top: 20px;
  }

  .news-detail__banner img {
    height: 250px;
  }

  .news .title {
    margin-top: 40px;
  }

  .news__wrapper {
    margin-top: 32px;
  }

  .news .title h1 {
    font-size: 28px;
  }

  .pagination {
    margin-top: 32px;
    margin-bottom: 40px;
  }

  .contact__form {
    padding: 20px 32px;
  }

  .contact-represented {
    padding: 40px 0;
  }

  .contact-represented .title h2 {
    font-size: 28px;
  }

  .contact-represented .title.description p {
    font-size: 18px;
    margin-top: 10px;
  }

  .contact-represented__wrapper {
    gap: 40px 0;
  }

  .services-detail__contact p {
    font-size: 26px;
  }

  .services-detail {
    padding: 50px 0;
  }

  .services-detail .title {
    margin-bottom: 12px;
  }

  .services-detail__content p {
    font-size: 16px;
  }

  .services-detail__content {
    gap: 12px;
  }

  .services-hero .hero__desc p {
    font-size: 22px;
  }

  .services-page {
    margin-top: 40px;
  }

  .services-about__wrapper {
    justify-content: center;
    gap: 40px 20px;
  }

  .counters__metrics ul li p {
    font-size: 14px;
  }

  .hero__desc p {
    font-size: 14px;
  }

  .services__desc {
    margin-top: 5px;
  }

  .counters__metrics ul li h3 {
    font-size: 28px;
  }

  .counters__metrics ul li h3 span {
    top: -21px;
    right: 12px;
  }

  .hero__btn {
    margin-top: 15%;
  }

  .header__contacts ul li {
    flex-wrap: wrap;
  }

  .header__lang-switcher {
    margin-top: 10px;
  }

  .footer__logo {
    max-width: 150px;
  }

  .footer__desc p,
  .footer__nav ul li a {
    font-size: 16px;
  }

  .footer__socials h4 {
    font-size: 16px;
  }

  .header__menu ul li a {
    font-size: 18px;
  }

  .header__menu ul {
    gap: 10px;
  }

  .header__lang-switcher ul li {
    display: inline-block;
    position: relative;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.38286;
    text-transform: uppercase;
    color: var(--black);
  }

  .header__lang-switcher {
    margin-top: 0;
  }

  .contact__item h4,
  .contact__form-content .description p {
    font-size: 18px;
  }

  .form-control {
    font-size: 14px;
  }

  .contact__item ul svg {
    width: 15px;
    height: 15px;
  }

  .contact-represented__item h5 {
    border: 2px solid var(--white);
    padding: 18px 16px;
    color: var(--white);
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact-represented__item h5 svg {
    display: block;
    transition: all 0.3s ease;
  }

  .contact-represented__item h5 svg path {
    transition: all 0.3s ease;
  }

  .contact-represented__item.active h5 {
    color: var(--yellow);
    border: 2px solid var(--yellow);
  }

  .contact-represented__item.active h5 svg {
    transform: rotate(180deg);
  }

  .contact-represented__item.active h5 svg path {
    stroke: var(--yellow);
  }

  .contact__item ul {
    margin-top: 10px;
  }

  .contact__item ul span {
    font-size: 14px;
  }

  .news-detail__image img {
    height: 250px;
  }
}

@media screen and (max-width: 400px) {
  .pagination__pages ul li span {
    font-size: 12px;
    padding: 10px 12px;
  }

  .services-hero__title h1 {
    font-size: 28px;
  }

  .services-hero__desc p {
    font-size: 18px;
  }

  .news-detail__wrapper {
    gap: 20px 0;
  }

  .about-us__title h1 {
    width: auto;
  }

  .about-us-propose__content ul li {
    max-width: 100%;
  }
}

@media screen and (max-width: 330px) {
  .arrow-btn a {
    padding-left: 20px;
  }

  .about-us__desc p {
    font-size: 18px;
  }

  .about-us__title h1 {
    font-size: 22px;
  }

  .news__content p,
  .news__date {
    font-size: 12px;
  }

  .news__date {
    margin-top: 6px;
  }

  .pagination__arrow a svg {
    width: 15px;
    height: 15px;
  }

  .news__arrow svg {
    width: 15px;
    height: 15px;
  }

  .contact-represented__wrapper {
    gap: 30px;
  }

  .contact-represented__item h5 {
    margin-bottom: 8px;
  }

  .contact-represented .title h2 {
    font-size: 24px;
  }

  .contact-represented__item h5 {
    font-size: 14px;
  }

  .contact-represented__item ul li svg {
    width: 20px;
    height: 20px;
  }

  .contact-represented__item ul li span {
    font-size: 14px;
  }

  .contact-represented .title.description p {
    font-size: 16px;
  }

  .contact__form {
    padding: 20px 15px;
  }

  .services-detail__contact p {
    font-size: 18px;
  }

  .hero__title h1 {
    font-size: 28px;
  }

  .services-hero .hero__desc {
    margin-top: 10px;
  }

  .services__more {
    padding: 10px;
  }

  .services__more svg {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 300px) {
  .pagination__wrapper {
    flex-direction: column;
  }

  .pagination__pages ul {
    flex-wrap: wrap;
    margin: 10px 0;
    justify-content: center;
  }
}

@media (hover: hover) {
  .header__menu ul li a:hover:before {
    right: auto;
    left: 0;
    width: 100%;
  }
}
